.btn {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding: 30px 35px;
	color: var(--fc-light);
	line-height: 1;
	text-decoration: none;
	background: var(--primary);
	border: none;
	border-radius: 10px;
	transition: var(--transition);

	@include mouse {

		&:hover {
			transform: translateY(-3px);
		}
	}

	&--thick {
		flex-direction: column;
		gap: 25px;
		align-items: flex-start;
		width: 100%;
		max-width: 270px;
		padding: 20px;
		font-size: 18px;
		background: var(--secondary);

		svg {
			align-self: flex-end;
		}
	}

	&--transparent {
		color: var(--fc-dark);
		background: none;
		border: 1px solid var(--primary);
	}
}

.btn-underline {
	width: fit-content;
	padding: 0;
	color: var(--secondary);
	font-weight: 700;
	font-size: 14px;
	font-family: var(--font-secondary);
	text-decoration: underline;
	background: none;
	border: none;
	transition: var(--transition);

	@include mouse {

		&:hover {
			color: var(--primary);
		}
	}
}

.btn-play {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	color: var(--fc-light);
	background: none;
	border: none;
	transform: translate(-50%, -55%);

	@include xs {
		width: 50px;
	}

	@include mouse {

		&:hover {
			color: var(--secondary);
			transform: translate(-50%, -55%);
		}
	}

	svg {
		width: 100%;
		height: auto;
		transition: var(--transition);
	}
}

.btn-tab {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 30px 40px;
	color: var(--fc-gray);
	font-size: 18px;
	border: 1px solid var(--fc-gray);
	border-radius: 40px;
	cursor: pointer;
	transition: var(--transition);

	@include md {
		gap: 15px;
		padding: 20px 30px;
		font-size: 16px;
		border-radius: 30px;
	}

	@include xs {
		gap: 5px;
		padding: 10px 15px;
		font-size: 14px;
		border-radius: 20px;
	}

	@include mouse {

		&:hover {
			border-color: var(--fc-dark);
		}
	}

	&.active {
		color: var(--fc-dark);
		border-color: var(--fc-dark);
		cursor: default;
	}

	svg {
		transform: rotate(90deg);
	}
}
