.footer {
	margin: 80px 1.25rem 15px;
	padding: 100px 1.25rem 30px;
	overflow: hidden;
	color: var(--fc-light);
	background: #0e5b82;
	border-radius: 20px;

	@include to(1750px) {
		margin: 80px 1.25rem 15px;
	}

	@include hg {
		padding: 60px 1.25rem 30px;
	}

	@include md {
		margin: 80px 0 0;
		padding: 60px 0 30px;
		border-radius: 20px 20px 0 0;
	}

	@include xs {
		padding: 40px 0;
		border-radius: 10px 10px 0 0;
	}

	> .container {

		@include md {
			margin: 0 0.75rem;
		}
	}

	&__contacts-title {

		.title__small-text {
			color: #9ccbe2;
		}
	}

	&__contacts-content {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		gap: 40px 80px;
		margin-top: 30px;
		padding-bottom: 40px;
		border-bottom: 1px solid var(--fc-gray);

		@include hg {
			grid-template-columns: 1fr 2fr 1fr;
			gap: 40px 60px;
		}

		@include sm {
			grid-template-columns: 1fr auto;
			margin-top: 60px;
		}

		@include xs {
			display: flex;
			flex-direction: column;
			gap: 40px;
			margin-top: 40px;
			padding-bottom: 20px;
		}
	}

	&__contacts-label {
		margin-bottom: 15px;
		color: #9ccbe2;
		font-size: 14px;

		@include md {
			margin-bottom: 30px;
		}

		@include xs {
			margin-bottom: 10px;
		}
	}

	&__address-wrapper {

		@include sm {
			grid-row: 2/3;
			grid-column: span 2;
		}
	}

	&__address,
	&__schedule {
		font-size: clamp(1.125rem, 1.067rem + 0.256vw, 1.375rem);
		font-family: var(--font-secondary);
	}

	&__info-wrapper {
		align-items: center;
		text-align: center;

		@include sm {
			align-items: flex-start;
			text-align: left;
		}
	}

	&__info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px 30px;
		align-items: center;
		width: 100%;

		@include lg {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		@include sm {
			justify-items: start;
		}
	}

	&__tel {
		grid-column: span 2;
		font-weight: 300;
		font-size: 32px;
		text-align: center;

		@include lg {
			grid-column: auto;
		}
	}

	&__tel,
	&__email {
		text-decoration: none;
		transition: var(--transition);

		@include mouse {

			&:hover {
				color: var(--secondary);
			}
		}
	}

	&__socials {
		justify-self: end;

		@include hg {
			max-width: max-content;
		}

		@include lg {
			order: 1;
			max-width: none;
		}

		@include sm {
			justify-content: flex-start;
		}
	}

	&__email {
		justify-self: start;
		font-size: 24px;
		font-family: var(--font-secondary);

		@include lg {
			justify-self: auto;
			text-align: center;
		}

		@include sm {
			font-size: 20px;

		}
	}

	&__schedule-wrapper {
		justify-self: end;
		text-align: right;

		@include xs {
			text-align: left;
		}
	}

	&__schedule {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 10px 30px;

		@include lg {
			grid-template-columns: 1fr;
			gap: 0;
		}

		@include xs {
			grid-template-columns: auto 1fr;
			gap: 0 15px;
		}

		span:first-child {

			@include hg {
				margin-bottom: 10px;
			}
		}
	}

	&__map {
		position: relative;
		grid-column: span 3;
		padding: 35px 65px;
		overflow: hidden;
		border-radius: 20px;

		@include sm {
			grid-column: span 2;
			padding: 40px 20px;
		}

		@include xs {
			padding: 130px 20px 20px;
			border-radius: 10px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__map-link {
		position: relative;
		z-index: var(--ui-index-1);
		width: fit-content;
		background: var(--secondary);

		@include xs {
			width: 100%;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: 450px 1fr minmax(400px, 1fr);
		gap: 40px 60px;
		margin-top: 40px;
		padding-bottom: 40px;
		border-bottom: 1px solid var(--fc-gray);

		@include hg {
			grid-template-columns: 400px 1fr 1fr;
			gap: 40px;
		}

		@include lg {
			grid-template-columns: 1fr 1fr;
			gap: 60px 40px;
		}

		@include md {
			gap: 40px;
		}

		@include sm {
			grid-template-columns: 1fr;
		}

		@include xs {
			margin-top: 20px;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&__first-column,
	&__third-column {
		display: flex;
		flex-direction: column;
		gap: 40px;
		justify-content: space-between;
	}

	&__first-column {

		@include lg {
			display: grid;
			grid-column: span 2;
			grid-template-columns: 1fr 1fr;
		}

		@include sm {
			grid-column: auto;
		}

		@include xs {
			display: flex;
		}
	}

	&__logo-link {
		display: block;
		width: fit-content;
		color: var(--primary);
		transition: var(--transition);

		@include xs {
			margin: 0 auto;
		}

		@include mouse {

			&:hover {
				scale: 1.02;
			}
		}

		svg {
			width: 100%;
			max-width: 270px;
			height: auto;
		}
	}

	&__logo-text {
		display: block;
		max-width: 270px;
		margin-top: 15px;
		font-size: 12px;
		font-family: var(--font-secondary);

		@include hg {
			margin-top: 50px;
		}

		@include lg {
			margin-top: 15px;
		}

		@include xs {
			margin: 15px auto 0;
			text-align: center;
		}

		span {
			font-weight: 700;
		}
	}

	&__callback-text {
		font-size: 20px;

		@include hg {
			font-size: 18px;
		}

		@include xs {
			font-size: 16px;
		}

		span {
			display: block;
			color: #9ccbe2;
		}
	}

	&__callback-form {
		position: relative;
		margin-top: 15px;

		@include hg {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		input {
			padding-right: 175px;

			@include hg {
				padding-right: 20px;
			}

			@include lg {
				padding-right: 175px;
			}

			@include sm {
				padding-right: 20px;
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			font-size: 14px;

			@include hg {
				position: static;
				width: 100%;
			}

			@include lg {
				position: absolute;
				width: fit-content;
			}

			@include sm {
				position: static;
				width: 100%;
			}

			@include mouse {

				&:hover {
					transform: none;
				}
			}
		}
	}

	&__second-column {

		@include lg {
			order: 1;
		}

		@include sm {
			order: 0;
		}
	}

	&__tabs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;

		@include xs {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			align-items: center;
		}
	}

	&__tab {
		font-size: 20px;
		transition: var(--transition);

		@include xs {
			display: flex;
			gap: 10px;
			align-items: center;
			padding: 10px;
			font-size: 16px;
			background: #0a5074;
			border-radius: 5px;
		}

		&::after {

			@include xs {
				display: block;
				width: 10px;
				height: 10px;
				border-right: 1px solid var(--fc-light);
				border-bottom: 1px solid var(--fc-light);
				transform: translateY(-3px) rotate(45deg);
				content: "";
			}
		}

		&.active {

			@include xs {
				background: var(--fc-dark);
			}
		}
	}


	&__menus {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
		margin-top: 20px;

		@include xs {
			display: block;
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include xs {
			display: none;
		}

		.menu-item {

			> a {
				display: block;
				font-size: 12px;
				font-family: var(--font-secondary);
				@include ui-link(#9ccbe2);

				@include lg {
					font-size: 16px;
				}

				@include md {
					font-size: 14px;
				}
			}
		}

		&.active {

			@include xs {
				display: flex;
			}
		}
	}

	&__mailing {
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 30px 20px 40px;
		background: var(--primary);
		border-radius: 20px;
	}

	&__mailing-label {
		font-size: 18px;
	}

	&__mailing-text {
		color: #9ccbe2;
		font-size: 14px;
		font-family: var(--font-secondary);
	}

	&__mailing-form {
		position: relative;
		margin-top: 10px;

		@include hg {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		input {
			padding-right: 180px;

			@include hg {
				padding-right: 20px;
			}

			@include lg {
				padding-right: 200px;
			}

			@include sm {
				padding-right: 20px;
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			padding: 30px 25px;
			font-size: 14px;
			background: var(--secondary);

			@include hg {
				position: static;
				width: 100%;
			}

			@include lg {
				position: absolute;
				width: fit-content;
			}

			@include sm {
				position: static;
				width: 100%;
			}

			@include mouse {

				&:hover {
					transform: none;
				}
			}
		}
	}

	&__payment {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		justify-content: center;

		@include xs {
			flex-direction: column;
			align-items: center;
		}
	}

	&__payment-text {
		width: fit-content;
		font-size: 14px;
		font-family: var(--font-secondary);
		text-align: center;

		@include hg {
			max-width: none;
		}
	}

	&__payment-content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 260px;
		max-height: 40px;
		overflow: hidden;
		background: var(--fc-light);

		@include hg {
			max-width: none;
		}

		@include xs {
			width: fit-content;
		}

		img {
			width: auto;
			height: 100%;
			object-fit: contain;
		}
	}

	&__policy {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: space-between;
		margin-top: 30px;
		font-size: 14px;
		font-family: var(--font-secondary);

		@include md {
			flex-wrap: wrap;
			gap: 20px 80px;
			justify-content: center;
		}

		@include xs {
			flex-direction: column;
			gap: 20px;
			align-items: center;
		}
	}
}
