.input {
	position: relative;
	width: 100%;
	min-height: 76px;
	padding: 25px 20px;
	color: var(--fc-dark);
	font-size: 14px;
	font-family: var(--font-secondary);
	background: var(--fc-light);
	border: 1px solid transparent;
	border-radius: 10px;
	transition: var(--transition);

	&:hover,
	&:focus {
		border-color: var(--secondary);
	}

	&::placeholder {
		color: #8e8e8e;
	}

	&--dark {
		color: var(--fc-light);
		background: none;
		border-color: #3f3f3f;

		&:hover,
		&:focus {
			border-color: var(--secondary);
		}

		&::placeholder {
			color: var(--fc-light);
		}
	}
}

.radio,
.checkbox {
	display: flex;
	gap: 10px;
	font-size: 12px;

	@include mouse {

		&:hover {

			.radio__switcher,
			.checkbox__switcher {
				border-color: var(--fc-light);
			}
		}
	}

	&__input {
		display: none;
		appearance: none;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		background: none;
		border: 1px solid var(--secondary);
		cursor: pointer;
		transition: var(--transition);
	}

	&__text {
		color: #8e8e8e;
	}
}

.radio {

	&__switcher {
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			background: var(--secondary);
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(0);
			visibility: hidden;
			transition: var(--transition);
			content: "";
		}
	}

	&__input:checked + &__switcher::before {
		transform: translate(-50%, -50%) scale(1);
		visibility: visible;
	}
}

.checkbox {

	&__switcher {
		border-radius: 5px;

		&::before {
			position: absolute;
			top: 40%;
			left: 50%;
			width: 10px;
			height: 5px;
			border-bottom: 1px solid var(--fc-light);
			border-left: 1px solid var(--fc-light);
			transform: translate(-50%, -50%) rotate(-45deg);
			visibility: hidden;
			opacity: 0;
			transition: var(--transition);
			content: "";
		}
	}

	&__input:checked + &__switcher {
		background: var(--secondary);
	}

	&__input:checked + &__switcher::before {
		visibility: visible;
		opacity: 1;
	}
}

.radio-bricks {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 65px;
	background: var(--fc-dark);
	border: 1px solid #3f3f3f;
	border-radius: 10px;

	&:has(.radio-bricks__elem:last-child>.radio-bricks__input:checked) {

		&::before {
			transform: translateX(100%);
		}
	}

	&::before {
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(50% + 1px);
		height: calc(100% + 2px);
		background: var(--primary);
		border-radius: 10px;
		transition: var(--transition);
		content: "";
		pointer-events: none;
	}

	&__elem {
		position: relative;
		z-index: var(--ui-index-1);
		display: grid;
		place-content: center;
		padding: 20px 15px;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;

		@include md {
			padding: 10px;
		}

		&:has(.radio-bricks__input:checked) {
			cursor: default;
		}
	}

	&__input {
		display: none;
		appearance: none;
	}

	&__text {
		color: var(--fc-light);
		font-weight: 600;
		font-family: var(--font-secondary);
		text-align: center;

		@include md {
			font-size: 14px;
		}
	}
}

.file-box {

	&__input {
		display: none;
		appearance: none;
	}

	&__label {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 230px;
		min-height: 64px;
		padding: 20px 30px;
		font-size: 14px;
		border: 1px solid #8e8e8e;
		border-radius: 10px;
		transition: var(--transition);

		@include xs {
			max-width: none;
		}

		@include mouse {

			&:hover {
				transform: translateY(-3px);
			}
		}

		svg {
			color: var(--secondary);
		}
	}
}

.number {
	position: relative;
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 65px;
	padding: 10px;
	background: #3f3f3f;
	border-radius: 10px;

	&--vertical {
		padding: 10px 40px 10px 10px;

		.number__btn {
			position: absolute;
			right: 10px;
			height: fit-content;
		}

		.number__btn--decrement {
			bottom: 13px;
			transform: rotate(90deg);
		}

		.number__btn--increment {
			top: 13px;
			transform: rotate(-90deg);
		}
	}

	&--light {
		background: #f9f9f9;

		.number__btn {
			color: var(--secondary);
		}

		.number__input {
			color: var(--fc-dark);
			font-size: 14px;
		}
	}

	&::before {
		position: absolute;
		top: -25px;
		left: 0;
		width: 100%;
		height: fit-content;
		font-size: 14px;
		font-family: var(--font-secondary);
		text-align: center;
		content: attr(data-legend);
	}

	&__btn {
		display: grid;
		place-content: center;
		width: 15px;
		height: 100%;
		color: var(--fc-light);
		cursor: pointer;
		transition: var(--transition);
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;

		@include mouse {

			&:hover {
				color: var(--secondary);
			}
		}

		&--decrement {
			transform: rotate(180deg);
		}

		svg {
			pointer-events: none;
		}
	}

	&__input {
		flex: 1 1 45px;
		width: 100%;
		max-width: 100px;
		color: var(--fc-light);
		font-weight: 400;
		font-size: 20px;
		font-family: var(--font-secondary);
		text-align: center;
		background: none;
		border: none;
	}
}

.select {
	position: relative;
	min-height: 65px;

	&--light {

		.select__select {
			color: var(--fc-dark);
			font-size: 14px;
			background: #f9f9f9;
		}
	}

	&__select {
		position: relative;
		display: block;
		width: 100%;
		margin-top: 5px;
		padding: 20px;
		padding-right: 40px;
		color: var(--fc-light);
		font-weight: 400;
		font-size: 20px;
		font-family: var(--font-secondary);
		background: #3f3f3f;
		border: none;
		border-radius: 10px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		@include sm {
			font-size: 16px;
		}
	}

	svg {
		position: absolute;
		top: 50%;
		right: 20px;
		color: var(--secondary);
		transform: translateY(-50%) rotate(90deg);
		pointer-events: none;
	}
}
