.modal {
	display: none;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 800px;
	padding: 100px 120px;
	color: var(--fc-light);
	background: #232323;
	border-radius: 20px;

	@include hg {
		padding: 100px 100px 80px;
	}

	@include sm {
		padding: 80px 40px 60px;
	}

	@include xs {
		gap: 20px;
		padding: 60px 15px 40px;
	}

	.carousel__button.is-close {
		top: 20px;
		right: 20px;
		width: fit-content;
		height: fit-content;
		padding: 0;
		color: var(--secondary);
		background: none;
		border: none;
		opacity: 1;

		@include xs {
			top: 10px;
			right: 10px;
		}

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		justify-content: center;
		max-width: 360px;
		text-align: center;
	}

	&__title {
		font-size: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
	}

	&__text {
		font-size: 14px;
		font-family: var(--font-secondary);
	}

	&__form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px 25px;
		align-items: center;

		@include xs {
			display: flex;
			flex-direction: column;
			align-items: stretch;
		}
	}

	&__input {
		grid-column: span 2;
	}

	&__calculations {
		font-weight: 700;
		font-size: 14px;
		font-family: var(--font-secondary);

		span {
			display: block;
			color: #8e8e8e;
			font-weight: 400;
			font-size: 12px;
		}
	}

	&__file {
		justify-self: end;
	}

	&__submit {
		padding: 25px 30px;
		font-size: 14px;
		background: var(--secondary);

		@include xs {
			order: 1;
		}
	}
}
