.new-products {
	margin: 75px 0 40px;
	overflow: hidden;

	@include xs {
		margin: 40px 0;
	}

	&__title {

		.title__controls {

			@include sm {
				display: none;
			}
		}
	}

	&__slider {
		margin-top: 40px;

		@include sm {
			overflow: visible;
		}

		@include xs {
			margin-top: 20px;
		}
	}

	&__item {

		@include sm {
			max-width: 450px;
		}

		@include xs {
			max-width: 295px;
		}
	}
}
