.project-links {
	margin: 120px 0 40px;

	@include hg {
		margin: 75px 0 40px;
	}

	@include xs {
		margin: 40px 0;
	}

	&__title {

		.title__controls {

			@include sm {
				display: none;
			}
		}
	}

	&__list {
		margin-top: 40px;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: auto;
		padding-bottom: 35px;
		overflow: hidden;
		border-bottom: 1px solid var(--fc-gray);

		@include xs {
			padding-bottom: 20px;
		}
	}

	&__item-new {
		position: absolute;
		top: 10px;
		left: 10px;
		padding: 10px 15px;
		color: var(--fc-light);
		font-size: 14px;
		background: var(--primary);
		border-radius: 20px;
		transition: var(--transition);
	}

	&__item-img {
		display: flex;
		align-items: center;
		width: 100%;
		height: auto;
		aspect-ratio: 1/1;
		overflow: hidden;
		border-radius: 20px;

		@include lg {
			aspect-ratio: 5/3;
		}

		@include xs {
			border-radius: 10px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item-info {
		display: flex;
		gap: 15px;
		justify-content: space-between;

		@include xs {
			flex-direction: column;
			gap: 10px;
		}
	}

	&__item-link {
		font-size: 20px;
		text-decoration: none;

		@include lg {
			font-size: 18px;
		}

		&::after {
			position: absolute;
			z-index: var(--ui-index-1);
			inset: 0;
			content: "";
		}
	}

	&__item-price {
		flex-shrink: 0;
		color: var(--secondary);
		font-weight: 700;
		font-size: 20px;
	}

	&__pagination {
		display: none;

		@include sm {
			display: flex;
		}
	}
}
