.projects {
	margin: 120px 0 40px;

	@include hg {
		margin: 75px 0 40px;
	}

	@include xs {
		margin: 40px 0;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 60px 20px;
		margin-top: 40px;

		@include lg {
			grid-template-columns: 1fr 1fr;
			gap: 40px 20px;
		}

		@include sm {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}

	&__btn {
		width: 100%;
		max-width: 270px;
		margin: 40px auto 0;

		@include xs {
			margin: 20px auto 0;
		}
	}
}
