.services {
	margin: 120px 0 40px;

	@include hg {
		margin: 75px 0 40px;
	}

	@include xs {
		margin: 40px 0;
	}

	&__tabs {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
		margin-top: 40px;

		@include xs {
			flex-wrap: nowrap;
			margin-top: 20px;
			overflow: scroll;
			scrollbar-width: none;
		}
	}

	&__tab {

		@include sm {
			flex: 1 1 fit-content;
		}

		@include xs {
			flex: 0 0 max-content;
		}
	}

	&__content {
		margin-top: 20px;
	}

	&__box {
		display: none;
		grid-template-columns: 300px 1fr 300px;
		gap: 70px 80px;
		padding: 70px 40px;
		color: var(--fc-light);
		background: var(--fc-dark);
		border-radius: 20px;

		@include hg {
			grid-template-columns: 1fr 300px;
			gap: 30px 60px;
			padding: 60px 1.25rem;
		}

		@include md {
			grid-template-columns: 1fr 250px;
			gap: 20px 30px;
			padding: 40px 0.75rem;
		}

		@include sm {
			flex-direction: column;
		}

		&.active {
			display: grid;

			@include sm {
				display: flex;
			}
		}
	}

	&__box-label {
		grid-row: span 2;
		font-size: 32px;

		@include hg {
			grid-row: auto;
			grid-column: span 2;
		}

		@include md {
			font-size: 28px;
		}

		@include xs {
			font-size: 20px;
		}
	}

	&__box-text {
		font-family: var(--font-secondary);
		line-height: 1.3;

		&--thick {
			grid-column: span 2;
		}
	}

	&__box-img {
		position: relative;
		grid-row: span 2;
		width: 100%;
		height: 100%;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: top center;
		}
	}

	&__box-btn {
		align-self: end;
		width: fit-content;
		height: fit-content;

		@include hg {
			margin-top: 20px;
		}

		@include sm {
			align-self: auto;
		}

		@include xs {
			width: 100%;
		}
	}
}
